{
  "openapi": "3.1.0",
  "info": { "title": "Spitch API", "version": "1.0.0" },
  "servers": [{ "url": "https://api.spi-tch.com" }],
  "paths": {
    "/v1/speech": {
      "post": {
        "summary": "Synthesize",
        "operationId": "synthesize_v1_speech_post",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Body_synthesize_v1_speech_post" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "audio/wav": { "schema": {} } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      }
    },
    "/v1/transcriptions": {
      "post": {
        "summary": "Transcribe",
        "operationId": "transcribe_v1_transcriptions_post",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": { "$ref": "#/components/schemas/Body_transcribe_v1_transcriptions_post" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        },
        "security": [{ "ApiKeyAuth": [] }]
      }
    },
    "/v1/translate": {
      "post": {
        "summary": "Translate",
        "operationId": "translate_v1_translate_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Body_translate_v1_translate_post" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": { "schema": {} }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        },
        "security": [{ "ApiKeyAuth": [] }]
      }
    },
    "/v1/diacritics": {
      "post": {
        "summary": "Tone Mark",
        "operationId": "tone_mark_v1_diacritics_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Body_tone_mark_v1_diacritics_post" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        },
        "security": [{ "ApiKeyAuth": [] }]
      }
    }
  },
  "components": {
    "schemas": {
      "Body_synthesize_v1_speech_post": {
        "properties": {
          "text": { "type": "string", "title": "Text" },
          "voice": { "$ref": "#/components/schemas/Voice" },
          "language": { "$ref": "#/components/schemas/Language" }
        },
        "type": "object",
        "required": ["text", "language", "voice"],
        "title": "Body_synthesize_v1_speech_post"
      },
      "Body_tone_mark_v1_diacritics_post": {
        "properties": {
          "text": { "type": "string", "title": "Text" },
          "language": { "$ref": "#/components/schemas/Language" }
        },
        "type": "object",
        "required": ["text", "language"],
        "title": "Body_tone_mark_v1_diacritics_post"
      },
      "Body_transcribe_v1_transcriptions_post": {
        "properties": {
          "content": {
            "anyOf": [{ "type": "string", "format": "binary" }, { "type": "null" }],
            "title": "Content"
          },
          "url": { "anyOf": [{ "type": "string" }, { "type": "null" }], "title": "Url" },
          "language": { "$ref": "#/components/schemas/Language" }
        },
        "type": "object",
        "required": ["language"],
        "title": "Body_transcribe_v1_transcriptions_post"
      },
      "Body_translate_v1_translate_post": {
        "properties": {
          "text": { "type": "string", "title": "Text"},
          "source": { "$ref": "#/components/schemas/Language" },
          "target": { "$ref": "#/components/schemas/Language" }
        }
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": { "$ref": "#/components/schemas/ValidationError" },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "Language": { "type": "string", "enum": ["yo", "en", "ha", "ig"], "title": "Language" },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": { "anyOf": [{ "type": "string" }, { "type": "integer" }] },
            "type": "array",
            "title": "Location"
          },
          "msg": { "type": "string", "title": "Message" },
          "type": { "type": "string", "title": "Error Type" }
        },
        "type": "object",
        "required": ["loc", "msg", "type"],
        "title": "ValidationError"
      },
      "Voice": { "type": "string", "enum": ["sade", "segun", "femi", "funmi"], "title": "Voice" }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
